

body {
  margin: 0;
  background-color: #f4f6f8;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

button {
  padding: 10px 16px;
  background-color: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #1e40af;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.center-page {
  min-height: calc(100vh - 60px); /* minus navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
